*.o
*.so
*.os
*.a
_mkc_*
*.so.*
bench_judy1
bench_marika
bench_std_set
bench_std_unordered_set
test_marika
test_play
*.d
*.done
.depend_*

libmarika/marika.h
libmarika/*.3
libmarika/export.sym.tmp

examples/example_IP
examples/examples.test.out
examples/map4S4S
examples/map4S4S.c
examples/map4S4U
examples/map4S4U.c
examples/map4S8S
examples/map4S8S.c
examples/map4S8U
examples/map4S8U.c
examples/map4SP
examples/map4SP.c
examples/map4U4S
examples/map4U4S.c
examples/map4U4U
examples/map4U4U.c
examples/map4U8S
examples/map4U8S.c
examples/map4U8U
examples/map4U8U.c
examples/map4UP
examples/map4UP.c
examples/map8S4S
examples/map8S4S.c
examples/map8S4U
examples/map8S4U.c
examples/map8S8S
examples/map8S8S.c
examples/map8S8U
examples/map8S8U.c
examples/map8SP
examples/map8SP.c
examples/map8U4S
examples/map8U4S.c
examples/map8U4U
examples/map8U4U.c
examples/map8U8S
examples/map8U8S.c
examples/map8U8U
examples/map8U8U.c
examples/map8UP
examples/map8UP.c
examples/mapIP
examples/mapIP.c
examples/mapISIS
examples/mapISIS.c
examples/mapISIU
examples/mapISIU.c
examples/mapISLS
examples/mapISLS.c
examples/mapISLU
examples/mapISLU.c
examples/mapIUIS
examples/mapIUIS.c
examples/mapIUIU
examples/mapIUIU.c
examples/mapIULS
examples/mapIULS.c
examples/mapIULU
examples/mapIULU.c
examples/mapLP
examples/mapLP.c
examples/mapLSIS
examples/mapLSIS.c
examples/mapLSIU
examples/mapLSIU.c
examples/mapLSLS
examples/mapLSLS.c
examples/mapLSLU
examples/mapLSLU.c
examples/mapLUIS
examples/mapLUIS.c
examples/mapLUIU
examples/mapLUIU.c
examples/mapLULS
examples/mapLULS.c
examples/mapLULU
examples/mapLULU.c
examples/mapLUP
examples/mapLUP.c
examples/mapUP
examples/mapUP.c
examples/set4S
examples/set4S.c
examples/set4U
examples/set4U.c
examples/set8S
examples/set8S.c
examples/set8U
examples/set8U.c
examples/setI
examples/setI.c
examples/setL
examples/setL.c
examples/setLU
examples/setLU.c
examples/setU
examples/setU.c
